# Front
node_modules/
dist/

# Back
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
*.db

# Env
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
